<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İletişim</h2>
            <p>Bize Ulaşın</p>
        </div>
    </div>
    <div data-aos="fade-up">
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2991.544709129684!2d27.088091076466263!3d41.42740099351166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b35fff6e70cb35%3A0x226eb1d771c08ac8!2sMaila%20Brasserie!5e0!3m2!1str!2str!4v1724180401930!5m2!1str!2str" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="container" data-aos="fade-up">

        <div class="row mt-5">

            <div class="col-lg-4">

                @await Component.InvokeAsync("_DefautConactInfoComponentPartial")
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">

                @await Component.InvokeAsync("_DefaultMessageComponentPartial")

            </div>

        </div>

    </div>
</section>